/*一排可视化*/
.societycontainer {
    display: flex;
    gap: 2%;
    margin-top:20px;
    width: 100%;
    flex-wrap: wrap;
}

.societyvis {
    margin-top:25px;
    width: 90%;
    left:9%;
    display: flex;
    align-items: center;
    background-color: #efefef;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
}

.societyvisme{
    margin-top:25px;
    width: 90%;
    left:9%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 20px;
}
/*日期*/
.dateinsociety{
    display: flex;
    gap: 2%;
    margin-top:0px;
    width: 100%;
    flex-wrap: wrap;
}

/*固定在右上角的3个圆*/
.society-circles {
    position: fixed;
    top: 20px;
    right: 10px;
    display: flex;
    gap: 5px;
  }

.circlesociety {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*社区名字*/
.societyname{
    display: inline-block;
    
}

.societyname h3 {
    margin-bottom: 0;  /* 减少或移除h3标签的底部外边距 */
    color: #2a2a2a;
    font-family: Arial, sans-serif;
}

.societyimg{
    display: inline-block;
}

/*情绪img*/
.societyvis .everyline{
    display: flex; /* 启用flex布局 */
    justify-content: space-around; /* 使div元素在容器中均匀分布 */
    align-items: center; /* 垂直居中对齐div元素 */
    width:100%;
}

.societyvisme .everyline{
    display: flex; /* 启用flex布局 */
    justify-content: space-around; /* 使div元素在容器中均匀分布 */
    align-items: center; /* 垂直居中对齐div元素 */
    width:100%;
}

.everylinename{
    width:15%;
}
.societyvis .imgdiv {
    width: 50px; /* 设置每个div的宽度 */
    height: 50px; /* 设置每个div的高度 */
    margin: 10px; /* 设置外边距 */
    border: 1px solid #ccc; /* 设置边框 */
    display: flex; /* 启用flex布局 */
    right:10%;
    
}
.societyvisme .imgdiv {
    width: 50px; /* 设置每个div的宽度 */
    height: 50px; /* 设置每个div的高度 */
    margin: 10px; /* 设置外边距 */
    border: 1px solid #ccc; /* 设置边框 */
    display: flex; /* 启用flex布局 */
    right:10%;
}

.imgdiv :hover {
    background-color: #0055ca;
}
.everylinename:hover{
    background-color: #eaeaea;
    
}

/*所有的日期*/
.datediv {
    width: 50px; /* 设置每个div的宽度 */
    height: 50px; /* 设置每个div的高度 */
    margin: 10px; /* 设置外边距 */
    display: flex; /* 启用flex布局 */
    right:10%;
    text-align: center;
    justify-content: space-around; /* 使div元素在容器中均匀分布 */
    align-items: center; /* 垂直居中对齐div元素 */
}


/*换页*/
.nextpage {
    width: 100%;
    height: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.societynextpage {
    margin-top:25px;
    width: 90%;
    left:9%;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin: 20px;
}
.societynextpage .everyline{
    display: flex; /* 启用flex布局 */
    justify-content: space-around; /* 使div元素在容器中均匀分布 */
    align-items: center; /* 垂直居中对齐div元素 */
    width:100%;
}

/*切换类型*/
.active {
    background-color: blue;
}