/*固定在右上角的12个圆*/
.everymonth-circles {
    position: fixed;
    top: 20px;
    right: 10px;
    display: flex;
    gap: 5px;
  }

.circleeverymonth {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*月记*/
.MonthRecord {
    position: absolute;
    width: 18%;
    height: 300px;
    margin: 20px;
    padding: 20px;
    right:10px;
    top:10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    justify-content: center;
    align-items: center;
}

/*一月的一排可视化*/
.monthcontainer {
    display: flex;
    gap: 2%;
    margin-top:20px;
    width: 80%;
    flex-wrap: wrap;
}

.monthvis {
    margin-top:25px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*选择一周*/
/*半透明*/
.fadedmonth {
    opacity: 0.2;
    stroke:#34495e;
    stroke-width: 1;
    stroke-dasharray: 0.5,1,0.5;
    fill: none;
}


/*一周的图表*/
.chartthisweek {
    position: absolute;
    right:10px;
    margin: 20px;
    padding: 20px;
    top:360px;
    width: 18%;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}