

#wrapper {
  position: absolute;
  top:8%;
  left:15%;
  z-index: 1;
  display:flex;
  align-items: center;
  /*justify-content: center;*/
}

#flower{
  position: absolute;
  top:8%;
  left:760px;
  z-index: 1;
  display:flex;
  align-items: center;
}

#left {
  position: absolute;
  top:19%;
  z-index: 1;
  display:flex;
  align-items: center;
}

/*今日压力*/
.today-stress{
  position: absolute;
  z-index:0;
  top:0.5%;
  left:75px;
}

.today-stress-time{
  position: absolute;
  z-index:0;
  top:8%;
  left:110px;
}



/*时间和标签*/
.timedisplay{
  position: absolute;
  left:180px;
  top:2%;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-feature-settings: 'tnum' 1;
  letter-spacing: 0.02em;
  color: white;
  width:380px;
  font-size: 35px;
}

svg {
  overflow: visible;
}
svg text {
  user-select: none;
}



#navBox {
  /*  将容器设置为flex布局，容器中的子元素默认在容器主轴（x轴）靠左展示 */
  display: flex;
  /* 相对于自己之前的位置，向下移动1px */
  position: relative;
  top: 1px;
}
ul {
  list-style: none;
}
#tabBox {
  box-sizing: border-box;
  width: 800px;
  margin: 50px auto;
  position:absolute;
}
#navBox li {
  box-sizing: border-box;
  font-size: 0.5em;
  margin-right: 10px;
  padding: 0 20px;
  border: solid 1px #999;
  line-height: 35px;
  width: 80px;
}
#tabBox>div {
  display: none;
  box-sizing: border-box;
  border: 1px solid #999;
  height: 600px;
  text-align: center;
  padding: 10px;
}
/* div为active的才生效，不能有空格，有空格相当于后代， 和> 一样的效果 */
#tabBox>div.active {
  display: block;
}
#navBox>li.active {
  border-bottom-color: #FFF;
}


 #leftBox {
  /*position: absolute;
  left:20%;*/
  top:50%;
  margin-left: 1%;
 }

 #rightBox {
  float: left;
 }

 #leftBox li {
  position: absolute;
  color: black;
  margin-bottom: 10px;
  margin-right: 10px;
  font: 20px ;
  padding: 0px 20px 0px 5px;
  text-align: left;
  border: 1px solid #999;
  margin: 20px auto;
 }

 #rightBox div {
  display: none;
 }

 #rightBox .active {
  display: block;
 }

 #rightBox a {
  display: block;
  width: 600px;
  height: 325px;
  background: #0F0;
  font-size: 100px;
  color: #000;
  text-align: center;
  text-decoration: none;
  line-height: 360px;
 }

 .tabUl {
  display: table;
  width: 100%;
 }

 .tabUl li {
  display: table-cell;
  background: #909;
  color: #fff;
  font-size: 20px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-right: 2px solid #03C;
  cursor: pointer;
 }

 .tabUl li.hover {
  background: #fff;
  color: #000;
 }

 #leftBox .active {
  background: yellow;
  color: #000;
 }

.title {
  position: relative;
  width: 600px;
  margin-top: 1.3em;
  margin-bottom: 0.3em;
  line-height: 1.2em;
  display: flex;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  font-feature-settings: 'tnum' 1;
  letter-spacing: 0.02em;
  color: rgb(255, 255, 255);
}

.baseline {
    fill: none;
    stroke: rgb(255, 255, 255);/*#B17F39;*/
    transition: all 0.3s ease-out;
    /*opacity: 0.5;*/
  }
  
.baseline0 {
    fill: none;
    stroke: rgb(255, 255, 255);/*#B17F39;*/
    transition: all 0.3s ease-out;
    /*opacity: 0.2;*/
}

.timebackground {
  stroke: rgb(255, 255, 255);/*#B17F39;*/
  /*opacity: 0.3;*/
}

.baseline1 {
  fill: none;
  stroke: rgb(255, 255, 255);/*#B17F39;*/
  transition: all 0.3s ease-out;
  /*opacity: 0.8;*/
}

.area {
  fill: none;
  
  transition: all 0.3s ease-out;
  opacity: 0.5;
}


.areatemp {
    fill: none;
    stroke: green;/*#B17F39;*/
    transition: all 0.3s ease-out;
    opacity: 0.4;
}

.areaeda {
    fill: none;
    stroke: green;/*#B17F39;*/
    transition: all 0.3s ease-out;
    opacity: 0.3;
} 
.areaHRV {
  fill: none;
  stroke: none;
  transition: all 0.3s ease-out;
}


.freezing-circle {
  /*fill: #00d2d3;*/
  fill:none;
  stroke-width:20px;
  stroke:#adadad;/*#8395a7;*/
  opacity: 0.35;
}

.precipitation-dot {
  opacity: 0.3;
}

.eda-dot {
  fill:#bbd388;/*#c8d6e5;*/
  opacity: 0.15;
}

.cloud-dot {
box-shadow: 0px 0px 5px grey;
}
.TEMP-dot {
  fill:#bbd388;
  opacity:0.1;
}

.TEMP-doto {
  fill:#c8d6e5;
  opacity:1;
}

.uv-line {
  stroke: #feca57;
  stroke-width: 2;
}

.reddots{
  fill: rgb(103, 103, 103);
  opacity: 0.3;
}

.reddotslow{
  fill: blue;
  opacity:0.8;
}

.grid-line {
  fill: none;
  stroke: #a48b78;
  stroke-width: 1.5;
  opacity: 0;
}

.grid-line2 {
  fill: none;
  stroke: #b4c9b2;
  opacity: 0.6;
}

.grid-line3 {
  fill: none;
  stroke: #dadadd;
  opacity: 0.6;
}

.grid-line4 {
  fill: none;
  stroke: #b4c9b2;
  opacity: 0.6;
}

.grid-line5 {
  fill: none;
  stroke: #dadadd;
  opacity: 0.6;
}

.grid-line6 {
  fill: none;
  stroke: #b4c9b2;
  opacity: 0.6;
}

.grid-line7 {
  fill: none;
  stroke: #e2e6cf;
  opacity: 0.6;
}

.hour-cir {
  fill: none;
  stroke: #dbdbdb;
  stroke-width: 3.6%;
  opacity: 0.6;
}

.hour-bg {
  fill: white;
  stroke: none;
}

#showtime{
  opacity: 0.8;  background-color: #0F0;
  font-size: 8px;
  color:#c8d6e5;
}


.tick-label {
  dominant-baseline: middle;
  /* Use dominant-baseline to center our labels */
  fill: #aeb6af;
  font-size: 0.6em;
  font-weight: 900;
}

.tick-label-temperature {
  /* Vertically center and dim our labels */
  fill: #8395a7;
  opacity: 0.7;
  font-size: 0.5em;
  dominant-baseline: middle;
}

.annotation-line {
  stroke: grey;
  opacity: 1;
  stroke-dasharray: 2,2,2;
}

.annotation-line-min {
  opacity: 0.2;
  stroke-dasharray: 2,2,2;
}

.annotation-text {
  font-size: 0.4em;
  dominant-baseline: middle;
  opacity: 1;
  background-color: #ffffff;
}


.annotation-linese {
  stroke: grey;
  opacity: 1;
  stroke-dasharray: 1,1,1;
}



.annotation-textse {
  fill: rgb(255, 255, 255);
  font-size: 1em;
  dominant-baseline: middle;
  opacity: 1;
}


.listener-circle {
  fill: transparent;
}

.white-circle{
  fill:white;
  opacity: 0.45;
}

.mous {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 1em;
  padding: 20px;
  pointer-events: none !important;
  color: grey;
  box-shadow: 0 4px 20px 4px rgba(0, 20, 60, .1), 0 4px 80px -8px rgba(0, 20, 60, .2);
  background-color: #fff;
  border-radius: 4px;
  position:fixed;
  text-align: center;
  position :absolute;
  }

  .ipt {
    position :absolute;
    background-color: rgba(255, 255, 255, 0.5); /* 半透明白色背景 */
    border-radius: 8px; /* 圆角边框 */
    padding: 15px; /* 内边距 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    width: 150px; /* 设置宽度 */
    z-index: 3;
  }

  .outp{
    position: absolute; 
    top: 660px; /* 距离顶部10px */
    right: 20px; /* 距离右侧10px */
    background-color: rgba(255, 255, 255); /* 半透明白色背景 */
    border-radius: 8px; /* 圆角边框 */
    padding: 15px; /* 内边距 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 轻微阴影 */
    width: 15%; /* 设置宽度 */
    height:100px;
  }
  

  #inputarea {
    width: 100%; /* 宽度占满父容器 */
    height: 100px; /* 设置高度 */
    border: none; /* 无边框 */
    background-color: transparent; /* 背景透明 */
    resize: none; /* 禁止调整大小 */
    outline: none; /* 点击时无轮廓 */
    font-size: 14px; /* 文本字体大小 */
    color: #333; /* 字体颜色 */
  }

  #anno {
    width: 100%; /* 宽度占满父容器 */
    height: 80px; /* 设置高度 */
    border: none; /* 无边框 */
    background-color: transparent; /* 背景透明 */
    resize: none; /* 禁止调整大小 */
    outline: none; /* 点击时无轮廓 */
    font-size: 14px; /* 文本字体大小 */
    color: #333; /* 字体颜色 */
  }
.tooltip-line {
  fill:white;/* #8395a7;*/
  opacity: 0.2;
  mix-blend-mode: multiply;
  pointer-events: none;
}

.tooltip1{
  position:absolute;
}

.tooltip {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 8em;
  height: 8em;
  color: aqua;
  /*border-radius: 50%;*/
  padding: 0.6em 1em;
  /*background:none; rgb(255, 255, 255);*/
  text-align: center;
  line-height: 1.4em;
  font-size: 0.9em;
  border: none;/*2px solid #c7dac8;*/
  z-index: 10;
  pointer-events: none;
  position: absolute;
}

.tooltip-date {
  margin-bottom: 0.2em;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 1.4em;
  color:black;

}

.tooltip-HRV {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 18px;
    line-height: 1.3em;
    transition: all 0.1s ease-out;
    color: black;
}

.tooltip-metric {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.6em;
  line-height: 1.3em;
  transition: all 0.1s ease-out;
  color:  black;
}

.tooltip-metric div:first-child {
  font-weight: 800;
  padding-right: 1em;
  color:black;
}

.tooltip-metric div:nth-child(2) {
  font-feature-settings: 'tnum' 1;
}

.tooltip-cloud {
  color: black;  /*#8395a7;*/
}
.tooltip-uv {
  color: black;/*#feca57;*/
}


#week{
  position: absolute;
  top: 800px;
  left: 50%;
  /*display:block; */
  /*margin: 0 auto;*/
  width: 5em;
  height: 2em;
  border-radius: 50%;
  padding: 0.6em 1em;
  /*background:rgb(255, 255, 255);*/
  line-height: 1.4em;
  font-size: 0.9em;
  border: grey;/*2px solid #c7dac8;*/
  /*z-index: 10;*/
  /*pointer-events: none;*/
}

#label{
  position: absolute;
  transform: translateX(-50%);
  z-index: 10;
  border:10px;
  height: 100px;
}


#days1 img{
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  object-fit: contain;
}

#days1 img.day1:hover{opacity:0.2;src: url(jpg/c1.png);width:70px;}

.tooltipday1{position:absolute;}
.textxday1{position:absolute;}
.selectedday1 {opacity: 1 !important;stroke: rgb(255, 134, 97);stroke-width: 1px;}